:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #18181b;
  --text-color: #ffffff;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#app {
  max-width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

